<div class="text-center category-header">
  <h4>Events</h4>
</div>
<% if current_user.nil? %>
<br>
<br>

  <div class="row">
    <div class="small-6 small-centered columns">
      <div class="service">
        <div class="service-icon-box">
          <%= image_tag "live.jpg", class: "service-icon" %>
        </div>
        <h4 class="service-heading"><p>Jumping, full of people, exciting.
                                    Something was very enjoyable</p>-Urban Dictionary</h4>
        <h3 class="service-description"><%= link_to 'New Event', new_event_path %></h3>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<div class="social">
  <button href="#" class="facebook round button split"> <span></span>Facebook</button>
  <button href="#" class="twitter round button split"> <span></span>Twitter</button>
  <button href="#" class="google round button split"> <span></span>Google+</button>
<br>
<br>
<br>
<br>
<br>

<% end %>

</div>
<% if current_user %>
  <%= render partial: 'show' %>
  <div class="social">
    <button href="#" class="facebook round button split"> <span></span>Facebook</button>
    <button href="#" class="twitter round button split"> <span></span>Twitter</button>
    <button href="#" class="google round button split"> <span></span>Google+</button>
  </div>
<% end %>
<br>
<br>
<br>
<br>
<br>
